{% extends 'accounts/base.html' %}
{% load static %}


{% block title %}
<br>
<h1 style="color: rgb(255, 0, 0)">  Mensajeria </h1>
<br>
{% endblock title %} 
{% block image %}
{% endblock image %} 


{% block body %}

                {% if object_list %}
                
                {% for message in object_list %}

                    <h3>{{message.title}}</h3>
                    <p class="post-meta">Mensaje Enviado por {{message.sender}} el {{message.date}}</p>
                    <a class="btn btn-primary" href="{%url 'Message_detail' message.id%}">Leer</a>
                    <a class="btn btn-danger" href="{%url 'Delete_message' message.id%}">Eliminar</a>

                {% endfor %}
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="container mt-5">
                        <p><a href="{% url 'New_message' %}" class="btn btn-success">Nuevo mensaje</a></p>
                        <br>
                        <p><a href="{% url 'index' %}" class="btn btn-success">Volver al inicio</a></p>
                    </div>
                </div>

                {% else %}
                    <h2>No hay mensajes aún</h2>
                    <br>
                    <p><a href="{% url 'New_message' %}" class="btn btn-success">Nuevo mensaje</a></p>
                    <br>
                    <p><a href="{% url 'index' %}"class="btn btn-success">Volver al inicio</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
 
{% endblock body %}   


