<h1>Todos los mensajes</h1>

<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="container mt-5">
                {% if object_list %}
                
                {% for message in object_list %}
                <div class="post-preview">
                    <a href="{%url 'Message_detail' message.id%}">
                        <p class="post-title">{{message.title}}</p>
                    </a>
                    <p class="post-meta">Mensaje Enviado por {{message.sender}} el {{message.date}}</p>
                    <a href="{%url 'Message_detail' message.id%}">Leer</a>
                    <a href="{%url 'Delete_message' message.id%}">Eliminar</a>

                </div>
                {% endfor %}
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="container mt-5">
                        <a href="{% url 'New_message' %}" class="btn btn-success">Nuevo mensaje</a>
                        <p><a href="{% url 'index' %}">Volver al inicio</a></p>
                    </div>
                </div>

                {% else %}
                    <h2>No hay mensajes aún</h2>
                    <a href="{% url 'New_message' %}" class="btn btn-success">Nuevo mensaje</a>
                    <p><a href="{% url 'index' %}">Volver al inicio</a></p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
 