{% extends 'accounts/base.html' %}
{% load static %}
{% block image %}

{% endblock image %} 

{% block body %}

<h2 style="color: red">Ignacio Licciardi</h2>
<p>Estudiante de Ingieneria en Sistemas, (UTN FRM) 22 años actualmente haciendo el curso de Data Analytics en CoderHouse que forma parte de la carrera de Data Scientist en el cual tengo pensado aplicar todos los conocimientos adquiridos en el Curso de Python</p>


<br>
<br>

<h2 style="color: red">Godas</h2>
<p>Hola, soy Ivan Godas, estudiante de Ingenieria Quimica de 24 años. Actualmente estoy buscando desarrollar mi carrera profesional aprendiendo distintas herramientas como Python. </p>

<br>
<br>

<h2 style="color: red">Chocron</h2>
<p>Hola soy Ilan Chocron y actualmente estoy haciendo un curso de desarrollo web en Python con Django. Tengo 16 años, me gusta mucho los temas relacionados a la informaticas.</p>

<br>
<br>

{% endblock body %}  