{% extends 'accounts/base.html' %}
{% load static %}


{% block title %}
<br>
<h2 style="color: rgb(255, 0, 0)">Quitar post</h2>

{% endblock title %} 
{% block image %}
{% endblock image %} 

{% block body %}
<a class="btn btn-primary" href="{% url 'list_blog' %}">Regresar a la lista de posteos</a>
<br>
<br>
<div class="container-fluid justify-content-center">
    <form method="post"> {% csrf_token %} 
    Estás seguro de que quieres eliminar a "{{ object }}"
    <input class="btn btn-danger" type="submit" value="SI">
    </form>
</div>
{% endblock body %}   




