{% extends 'accounts/base.html' %}
{% load static %}


{% block title %}
<br>
<h1 style="color: rgb(255, 0, 0)">  Publicaciones </h1>
<br>
<h2 style="color: rgb(255, 0, 0);">Lista de Publicaciones</h2>
{% endblock title %} 
{% block image %}
{% endblock image %} 

{% block body %}
{% for blog in object_list %}
    <ul><li>
        {{ blog }}
        <button style="background-color: black"><a href="{% url 'delete_blog' blog.id %}">Eliminar</a></button>
        <button style="background-color: black"><a href="{% url 'update_blog' blog.id %}">Modificar</a></button>
        <button style="background-color: black"><a href="{% url 'detail_blog' blog.id %}">Detalles</a></button>
    </li></ul>
{% endfor %}
<br>
<br>
{% endblock body %}   





